<header id="main_header" class="cf">
      <div class="wrapper_wide">
          <a href="#" id="logo">Indian Podcasts</a>
          <nav>
            <ul>
              <li><a href="#">Explore</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
      </div>
    </header>

    <div id="podcast_show">
      <div id="show_banner">
        <div class="wrapper_skinny">
          <h1>The Podcast Show</h1>
            <p class="description">Swine frankfurter andouille kevin, fatback shank picanha meatball tenderloin. Strip steak pork chop rump .</p>
            <a href="#" class="subscribe_link">iTunes</a>
          </div>
      </div>

      <div id="breadcrumb">
        <a href="#">
          All Podcasts
          <span>/</span>
          The podcast show
        </a>
      </div>

    <div id="episode_content">
      <div class="wrapper_skinny">
        <img src="images/earphones.jpg" alt="earphones" class="current_episode_thumbnail">

        <h2>How to pull off 12 startups in 12 months</h2>
        <p class="description">In this epsiode i speak to Bacon ipsum dolor amet  Pancetta cupim ham sausage prosciutto leberkas beef ball tip venison.In this epsiode i speak to Bacon ipsum Pancetta cupim ham sausage prosciutto leberkas beef ball tip venison.In this epsiode i speak to Bacon ipsumPancetta cupim ham sausage prosciutto leberkas beef ball tip venison.In this epsiode i speak to Bacon ipsumPancetta cupim ham sausage prosciutto leberkas beef ball tip venison.In this epsiode i speak to Bacon ipsum</p>

      </div>
    </div>

    <div id="episodes">
      <div class="wrapper_skinny">
        <ul class="cf">
          <li class="cf">
            <div class="episode_thumbnail">
              <a href="episode.html">
               <%= image_tag ('https://dl.dropboxusercontent.com/s/phrqfxef0c4x69x/river1.jpg') %>
              </a>
            </div>

            <div class="episode_overview">
              <h2><a href="episode.html">In this epsiode I speak to blah blah blah </a></h2>
              <p class="description">In this epsiode i speak to Bacon ipsum dolor amet  Pancetta cupim ham sausage prosciutto leberkas beef ball tip venison.In this epsiode i speak to Bacon ipsum </p>
            </div>
          </li>

          <li class="cf">
            <div class="episode_thumbnail">
              <a href="#">
               <%= image_tag ('https://dl.dropboxusercontent.com/s/phrqfxef0c4x69x/river1.jpg') %>
              </a>
            </div>
            <div class="episode_overview">
              <h2><a href="episode.html">In this epsiode I speak to blah blah blah </a></h2>
              <p class="description">In this epsiode i speak to Bacon ipsum dolor amet  Pancetta cupim ham sausage prosciutto leberkas beef ball tip venison.</p>
            </div>
          </li>


          <li class="cf">
            <div class="episode_thumbnail">
              <a href="#">
               <%= image_tag ('https://dl.dropboxusercontent.com/s/phrqfxef0c4x69x/river1.jpg') %>
              </a>
            </div>
            <div class="episode_overview">
              <h2><a href="episode.html">In this epsiode I speak to blah blah blah </a></h2>
              <p class="description">In this epsiode i speak to Bacon ipsum dolor amet  Pancetta cupim ham sausage prosciutto leberkas beef ball tip venison.</p>
            </div>
          </li>


          <li class="cf">
            <div class="episode_thumbnail">
              <a href="#">
               <%= image_tag ('https://dl.dropboxusercontent.com/s/dt4riptzwbe2b4o/paris.jpg') %>
              </a>
            </div>
            <div class="episode_overview">
              <h2><a href="episode.html">In this epsiode I speak to blah blah blah </a></h2>
              <p class="description">In this epsiode i speak to Bacon ipsum dolor amet  Pancetta cupim ham sausage prosciutto leberkas beef ball tip venison.</p>
            </div>
          </li>


          <li class="cf">
            <div class="episode_thumbnail">
              <a href="#">
               <%= image_tag ('https://dl.dropboxusercontent.com/s/dt4riptzwbe2b4o/paris.jpg') %>
              </a>
            </div>
            <div class="episode_overview">
              <h2><a href="episode.html">In this epsiode I speak to blah blah blah </a></h2>
              <p class="description">In this epsiode i speak to Bacon ipsum dolor amet  Pancetta cupim ham sausage prosciutto leberkas beef ball tip venison.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="pagination">
      <span class="previous_page disabled">Previous</span>
      <em class="current">1</em>
      <a href="#">2</a>
      <a class="next_page" href="#">Next</a>
    </div>
